section.ui.segments
  .ui.segment.raised.very.padded
    h2 Welcome back!
    .ui.hidden.divider
    form.ui.form
      .field
        label Email
        .ui.input
          input(type='email')
      .field
        label
          a(href='javascript:void(0)' style='float:right;') Forgot?
          | Password
        .ui.input
          input(type='password')
      button.ui.right.labeled.large.fluid.primary.icon.button
        i.right.arrow.icon
        | Sign in
  .ui.secondary.segment.center.aligned.padded
    | Don't have an account?&nbsp;&nbsp;
    a(href='javascript:void(0)') Sign up #[i.angle.right.icon]
section.ui.segments
  .ui.segment.raised.very.padded
    h2 Forgot your password?
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi dolores, doloremque. Asperiores molestias mollitia similique facere.
    .ui.hidden.divider
    form.ui.form
      .field
        label Email
        .ui.input
          input(type='email')
      button.ui.right.labeled.large.fluid.primary.icon.button
        i.right.arrow.icon
        | Send recovery code
  .ui.secondary.segment.center.aligned.padded
    | Already signed up?&nbsp;&nbsp;
    a(href='javascript:void(0)') Log in #[i.angle.right.icon]
section.ui.segments
  .ui.segment.raised.very.padded
    h2 Sign up
    .ui.hidden.divider
    form.ui.form
      .field
        label Email
        .ui.input
          input(type='email')
      .field
        label Password
        .ui.input
          input(type='password')
      .field
        label Repeat password
        .ui.input
          input(type='password')
      button.ui.right.labeled.large.fluid.primary.icon.button
        i.right.arrow.icon
        | Sign in
  .ui.secondary.segment.center.aligned.padded
    | Already signed up?&nbsp;&nbsp;
    a(href='javascript:void(0)') Log in #[i.angle.right.icon]
section.ui.segments
  .ui.center.aligned.segment.raised.very.padded
    i.huge.circular.inverted.teal.envelope.icon
    h2 Confirm your email address
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi dolores, doloremque. Asperiores molestias mollitia similique facere.
