
<section class="ui segments">
  <div class="ui segment raised very padded">
    <h2>{title}Welcome back! {/}</h2>
    <div class="ui hidden divider"></div>
    <form class="ui form">
      <div class="field">
        <label>Email</label>
        <div class="ui input">
          <input type="email"/>
        </div>
      </div>
      <div class="field">
        <label><a href="javascript:void(0)" style="float:right">Forgot?</a>Password</label>
        <div class="ui input">
          <input type="password"/>
        </div>
      </div>
      <button class="ui right labeled large fluid primary icon button"><i class="right arrow icon"></i>Sign in</button>
    </form>
  </div>
  <div class="ui secondary segment center aligned padded">Don't have an account?&nbsp;&nbsp;<a href="javascript:void(0)">Sign up <i class="angle right icon"></i></a></div>
</section>
<section class="ui segments">
  <div class="ui segment raised very padded">
    <h2>Forgot your password?</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi dolores, doloremque. Asperiores molestias mollitia similique facere.</p>
    <div class="ui hidden divider"></div>
    <form class="ui form">
      <div class="field">
        <label>Email</label>
        <div class="ui input">
          <input type="email"/>
        </div>
      </div>
      <button class="ui right labeled large fluid primary icon button"><i class="right arrow icon"></i>Send recovery code</button>
    </form>
  </div>
  <div class="ui secondary segment center aligned padded">Already signed up?&nbsp;&nbsp;<a href="javascript:void(0)">Log in <i class="angle right icon"></i></a></div>
</section>
<section class="ui segments">
  <div class="ui segment raised very padded">
    <h2>Sign up</h2>
    <div class="ui hidden divider"></div>
    <form class="ui form">
      <div class="field">
        <label>Email</label>
        <div class="ui input">
          <input type="email"/>
        </div>
      </div>
      <div class="field">
        <label>Password</label>
        <div class="ui input">
          <input type="password"/>
        </div>
      </div>
      <div class="field">
        <label>Repeat password</label>
        <div class="ui input">
          <input type="password"/>
        </div>
      </div>
      <button class="ui right labeled large fluid primary icon button"><i class="right arrow icon"></i>Sign in</button>
    </form>
  </div>
  <div class="ui secondary segment center aligned padded">Already signed up?&nbsp;&nbsp;<a href="javascript:void(0)">Log in <i class="angle right icon"></i></a></div>
</section>
<section class="ui segments">
  <div class="ui center aligned segment raised very padded"><i class="huge circular inverted teal envelope icon"></i>
    <h2>Confirm your email address</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi dolores, doloremque. Asperiores molestias mollitia similique facere.</p>
  </div>
</section>