docs/build
/build
/vendor
/composer.lock
.idea
nbproject
.DS_Store

local
*.local
*.local.*
*.cache
*.cache.*

/demos/_demo-data/db.sqlite
/demos/config.php

/phpunit.xml
/phpunit-*.xml
/behat.yml

*.bak
