includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon

parameters:
    level: 6
    paths:
        - ./
    excludePaths:
        - vendor/

    ignoreErrors:
        - '~^(Property .+ has|Method .+\(\) (has parameter \$.+ with|return type has)) no value type specified in iterable type .+\.~'

        # relax strict rules
        - '~^Only booleans are allowed in .+, .+ given( on the (left|right) side)?\.~'

        # TODO these rules are generated, this ignores should be fixed in the code
        #-
        #  message: '~^Call to an undefined method Atk4\\Ui\\Form\\Control::addAction\(\)\.$~'
        #  count: 1
        #  path: src/Form/Login.php
        #-
        #  message: '~^Call to an undefined method Atk4\\Ui\\Form\\Control::setInputAttr\(\)\.$~'
        #  count: 2
        #  path: src/Form/Register.php
        #-
        #  message: '~^Call to an undefined method Atk4\\Data\\Reference\\HasOne::addTitle\(\)\.$~'
        #  count: 1
        #  path: src/Model/AccessRule.php
        #-
        #  message: '~^Call to an undefined method Atk4\\Data\\Reference\\HasOne::addTitle\(\)\.$~'
        #  count: 1
        #  path: src/Model/User.php
        #-
        #  message: '~^Call to an undefined method Atk4\\Ui\\Table\\Column::addModal\(\)\.$~'
        #  count: 1
        #  path: src/RoleAdmin.php
        #-
        #  message: '~^Call to an undefined method Atk4\\Ui\\Table\\Column::addModal\(\)\.$~'
        #  count: 1
        #  path: src/UserAdmin.php
        #-
        #  message: '~^Call to an undefined method Atk4\\Ui\\Form\\Control::addAction\(\)\.$~'
        #  count: 1
        #  path: src/UserAdmin.php
        #-
        #  message: '~^Call to an undefined method Atk4\\Ui\\View::jsHide\(\)\.$~'
        #  count: 1
        #  path: src/UserAdmin.php
