<phpunit bootstrap="vendor/autoload.php" stderr="true">
    <php>
        <var name="DB_DSN" value="sqlite::memory:" />
        <var name="DB_USER" value="" />
        <var name="DB_PASSWD" value="" />
        <var name="DB_DBNAME" value="" />
    </php>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
            <exclude>
              <file>src/AtkPhpunit/ResultPrinter.php</file>
              <file>src/AtkPhpunit/ExceptionWrapper.php</file>
              <file>src/AtkPhpunit/TestCase.php</file>
              <file>src/AtkPhpunit/phpunit_polyfill.php</file>
              <file>src/AtkPhpunit/phpunit5_polyfill.php</file>
              <file>src/AtkPhpunit/phpunit8_polyfill.php</file>
            </exclude>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="core">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
</phpunit>
